*{
    margin: 0;
    padding: 0;
}
.logo{

    align-items: center;
}
ul li{
    list-style: none;
   
}
ul{
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.hamburger{
    display: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    /* margin: 5px 0px 5px 15%; */
    background-color: whitesmoke;
    padding:20px 5px 20px 10% ;
}
.btn{
padding: 15px 25px;
background-color: #388e3b;
border-radius: 7px;
border: none;
color: antiquewhite;



}
/* hero section */
.herosec{
    display: flex;
    justify-content: center;
    align-items: center;
;gap: 10vw;
  
    background-color:rgb(245, 241, 241) ;

    
    
    width: 100vw;
    height: 90vh;
    
}
.content{
     
    
    margin-left: 8vw;
    justify-content: center;
    align-items: center;
    margin-top: 4vw; 
    margin-bottom: 4vw;
}
.fh{

     font-family: 'inter';
    font-weight: 600;
    font-style: semi-bold;
    color: #4D4D4D;
    font-size: 4vw;
    line-height: 4.5vw;

}
.sh{
     color: #4CAF4F;
      font-family: 'inter';
    font-weight: 600;
    font-style: semi-bold;
    font-size: 4vw;
     line-height: 4.5vw;
}
.content-para{
     color: #717171;
    font-size:1vw ;
    font-family:'inter' ;
    font-weight: 400;
    line-height: 4vw;
}
.herobtn{
     width: 10vw;
    height: 3vw;
    background-color: #4CAF4F;
    color:#ffff ;
    font-weight: 500;
    font-family: 'inter';
    font-size:  1.2vw; 
    border: none;   
    border-radius: 3px;
    margin-top: 1.2vw;
}

.hero-img img{
width: 25vw;
    height: auto;
    margin-top: 6vw;
    margin-right: 2vw;
    margin-bottom: 5vw;
}
/* sec 1 */
.sec1{
    width: 100vw;
    height: 90vh;
}
.text1{
    text-align: center;
}
.logos-flex{
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    margin-top: 2.5vw;
    
}
.th{
color: #3a3939;
font-size: 3vw;
line-height: 10vh;
font-family: inter;
font-weight: 500;

}
.clients-para{
    color: #4D4D4D;
    font-family:inter;
    margin-top: 0.5vw;
    
}
.text2{
    text-align: center;
    margin-top: 3vw;
}
.frh{
    color: #3a3939;
font-size: 3vw;
line-height: 7vh;
font-family: inter;
font-weight: 500;
}
.flex-card{
    display: flex;
    gap: 8vw;
    justify-content: center;
    align-items: center;
}
.card1 ,.card2, .card3{
    text-align: center;
    background-color:rgb(145, 149, 207);
    width: 15vw;
    height: auto;
    padding: 1vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border: none;
    border-radius: 3vw;
    box-shadow:;
}
.card1 img{
    width: 20%;
    height: auto;
    
}
.card2 img{
    width: 20%;
    height: auto;
}
.card3 img{
    width: 20%;
    height: auto;
}


.heading{
    font-family: inter;
    color: #4D4D4D;
    font-size: 1vw;

}
.para{
    text-align: center;
  color: #4D4D4D;
    font-family:inter;
    margin-top: 0.5vw;
       
}
/* sec 2 */
.mob{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
.mob-img img{
    
  width: 30vw;
    height: auto;
}
.mob-content{
    width: 40%;
    text-align: left;
}
.mob-para{
      text-align: center;
  color: #4D4D4D;
    font-family:inter;
    margin-top: 0.5vw;
    
}
.fvh{
     color: #3a3939;
font-size: 3vw;
line-height: 7vh;
font-family: inter;
font-weight: 500;
}
.sec-last-btn{
       width: 10vw;
    height: 3vw;
    background-color: #4CAF4F;
    color:#ffff ;
    font-weight: 500;
    font-family: 'inter';
    font-size:  1.2vw; 
    border: none;   
    border-radius: 3px;
    margin-top: 1.2vw;

}